<div class="col py-3"> 

    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/api/todo">To Do List</a></li>
            <li class="breadcrumb-item active"><%= todo.task  %></li>
          </ol>
        </nav>
      </div>   
    </div>
  </div>
  
<ul class="list-group">

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Task:</b></div>
        <div class="col"><%= todo.task %> <%= todo.task %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Start:</b></div>
        <div class="col"><%= todo.start %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Stop:</b></div>
        <div class="col"><%= todo.stop %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
        <div class="col"><%= todo.createdAt %></div>
      </div>
    </li>
  </ul>